
table.tabledata {
    font-family: arial, sans-serif;
    border:1px solid #eee;
    width:100%;
    margin: auto;
    
    
  }
  table{
    border-collapse: collapse;
    table-layout: auto;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th{
    background: black;
    color: white;
  }


  .tabledata th {
    position: sticky;
    top: 65px;
}


td{
    white-space:normal;;
}

td:hover{
  flex-shrink: 0;
  overflow: visible;
}

.tablecontainer
{
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.15);
}


@media (max-width:600px)
{
  .tabledata
{
  display:block;
  overflow: auto;
  height:500px;
}
.tabledata th
{
  top:0;
}
}