
.modal{
    transition: all 650ms ease-in-out;
  }
  
  .modal-header
  {
    background-color: aliceblue;}
    #ModalBack svg
    {
      height: 250px !important;
    }
  
    .modal .modal-dialog {
      transition: transform .3s ease-out;
      transform: translate(0,50px) !important;
  }